<%= form_for @profile, url: `users/#{current_user}/profile` do |f| %>
  <div class="">

    <div class="form-group">
      <%= f.label :first_name, 'First Name' %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :middle_name, 'Middle Name' %>
      <%= f.text_field :middle_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :last_name, 'Last Name' %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :job_title, 'Job Title' %>
      <%= f.select :job_title, %w(Developer Entrepreneur Investor), {}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, 'Phone Number' %>
      <%= f.telephone_field :phone_number, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :contact_email, 'Contact Email' %>
      <%= f.email_field :contact_email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>

    <%= f.submit 'Update Profile', class: "btn btn-dark btn-block" %>
  </div>
<% end %>