<h1 class="custom-title text-center">Dev Match Community</h1>
<br />
<h1 class="sutitle text-center">Welcome to Dev Match Community, users must create a profile in order to be visible.</h1>
<br />
<br />

<div class="col-md-10 col-md-offset-1">
  <% @users.each do |u| %>
    <% if u.profile %>
      <div class="well">
        <div class="show">
          <div class="show-child">
            <div class="profile-info-group">
              <div class="profile-image">
                <%= link_to u, class: "custom-link" do %>
                  <%= image_tag u.profile.avatar.url(:thumb) %>
                <% end %>
              </div>
            </div>
          </div>
          <div class="show-child">
            <div class="profile_info_group">
              <%= link_to u, class: "custom-link" do %>
                <span class="profile-name-view"><%= u.profile.first_name %></span>
                <span class="profile-name-view"><%= u.profile.middle_name %></span>
                <span class="profile-name-view"><%= u.profile.last_name %></span>
              <% end %>
            </div>
            <div class="profile_info_group">
              <span class="profile-info-child">
                <%= u.profile.job_title %>
                <% if u.plan_id == 2 %>
                  <span class="label label-danger">PRO</span>
                <% end %>
              </span>
            </div>
            <% if current_user.plan_id == 2 %>
              <div class="profile_info_group">
                <span class="profile-info-child"><%= u.profile.phone_number %></span>
              </div>
              <div class="profile_info_group">
                <span class="profile-info-child"><%= u.profile.contact_email %></span>
              </div>
            <% end %>
            <div class="profile_info_group">
              <span class="profile-info-child"><%= u.profile.description %></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>