<div class="container">
  <div class="row">
    <div class="col-md-3">
      <% if @user.profile %>
        <div class="card" style="width: 18rem" <%= cycle('white-bg', '') %>>
          <div class="card-header">
            <span>
              <%# <span class="job-title-icon"><%= job_title_icon %></span>
            <%= @user.profile.job_title.capitalize %>
          </span>
        </div>
        <%= image_tag @user.profile.avatar.url(:medium), class: "card-img-top" %>
        <div class="card-body">
          <div class="card-title">
            <span><%= @user.profile.first_name %></span>
            <span><%= @user.profile.middle_name %></span>
            <span><%= @user.profile.last_name %></span>
            <div>
              <%= @user.profile.first_name %> | <%= link_to 'send a message', new_personal_message_path(receiver_id: @user) %>
            </div>
          </div>
          <div class="card-text">
            <div>
            </div>
            <% if current_user.plan_id == 3 %>
              <div>
                <span><%= @user.profile.phone_number %></span>
              </div>
              <div>
                <span><%= @user.profile.contact_email %></span>
              </div>
            <% end %>
            <div>
              <span><%= @user.profile.description %></span>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-left">
            <%= link_to user_followers_path(user_id: @user.id) do %>
              <span><%= @user.followers_count %> followers </span>
            <% end %>
            <%= link_to user_following_path(user_id: @user.id) do %>
              <span><%= @user.followings_count %> following</span>
            <% end %>
          </div>
          <div class="text-left">
            <% if !(current_user.is_following?(@user)) %>
              <% @follow = Follow.new %>
              <%= form_for (@follow) do |f| %>
                <%= hidden_field_tag :user_id, @user.id %>
                <%= f.submit "Follow", class: "btn btn-primary" %>
              <% end %>
            <% else %>
              <% @follow = Follow.new %>
              <%= form_for (@follow), method: :delete do |f| %>
                <%= hidden_field_tag :user_id, @user.id %>
                <%= f.submit "Unfollow", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-8 offset-sm-1">
    <div class="d-flex flex-row flex-wrap justify-content-around">
      <% @posts.each do |p| %>
        <div class="card" style="margin-bottom: 12px; width: 20rem">
          <div class="card-header d-flex flex-row justify-content-between">
            <h5><%= p.title %></h5>
            <%= link_to 'Edit', edit_user_post_path(user_id: p.user_id, id: p.id), class: '', style: "margin-right: 4px",method: :put %>
          </div>
          <%= image_tag p.image_url, class: "card-img-top" %>
          <div class="card-body">
            <h6><%= p.subtitle %></h6>
          </div>
          <div class="card-footer d-flex flex-row align-items-center justify-content-between">
            <span>
              <span>
                <i class="fas fa-heart up-solid"></i>
                <%= p.likes.count %>
              </span>
              <span>
                <i class="fas fa-heart-broken down-solid"></i>
                <%= p.dislikes.count %>
              </span>
              <span>
                <i class="fas fa-retweet share-solid"></i>
                <%= p.shares.count %>
              </span>
            </span>
            <span class="d-flex flex-row text-right">
              <% if current_user.id == p.user_id %>
                <%= button_to 'Delete', user_post_path(user_id: p.user_id, id: p.id), class: 'btn btn-danger', style: "margin-right: 4px",method: :delete %>
              <% end%>
              <span>
                <%= link_to 'View', user_post_path(user_id: p.user_id, id: p.id), class: 'btn btn-primary' %>
              </span>
            </span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
</div>
