<% if personal_message.user == current_user %>
  <div class="user-message">
    <p style='width: fit-content; margin: 0 !important'><%= personal_message.body %></p>
  </div>
  <p style="width: fit-content; align-self: flex-end !important">
    <% if personal_message.created_at > 24.hours.ago  %>
      <span class="text-white"><%= personal_message.created_at.strftime("%H:%m") %></span>
    <% else %>
      <span class="text-white"><%= personal_message.created_at.strftime("%b %-d, %Y, %H:%m") %></span>
    <% end %>
  </p>
<% else %>
  <div class="sender-message">
    <p style='width: fit-content; margin: 0 !important'><%= personal_message.body %></p>
  </div>
  <p style="width: fit-content; align-self: flex-start !important">
    <% if personal_message.created_at > 24.hours.ago  %>
      <span class="text-white"><%= personal_message.created_at.strftime("%H:%m") %></span>
    <% else %>
      <span class="text-white"><%= personal_message.created_at.strftime("%b %-d, %Y, %H:%m") %></span>
    <% end %>
  </p>
<% end %>
