<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beulah ROR Portfolio Entry 1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'javascript/stylesheets/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= # noinspection RailsParamDefResolve
      javascript_include_tag 'https://js.stripe.com/v2/', type: 'text/javascript' %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <script data-ad-client="ca-pub-5604305097706074" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark d-flex flex-column">
      <div class="container">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <i class="fab fa-dev"></i>
          Dev Match
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><%= link_to "About", about_path, class: 'nav-link' %></li>
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Community", users_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "Account", edit_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
            <% if user_signed_in? %>
              <li class="nav-item"><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
              <% if Profile.exists?(user_id: current_user.id) %>
                <% @profile = current_user.profile %>
                <% if current_page?(user_path(current_user)) %>
                  <li class="nav-item"><%= link_to "Edit Profile", edit_user_profile_path(user_id: @profile.user_id), class: 'nav-link' %></li>
                <% else %>
                  <li class="nav-item"><%= link_to "Profile", user_path(id: @profile.user_id), class: 'nav-link' %></li>
                <% end %>
              <% else %>
                <li class="nav-item"><%= link_to "Create Profile", new_user_profile_path(current_user), class: 'nav-link' %></li>
              <% end %>
            <% else %>
              <li class="nav-item"><%= link_to "Login", new_user_session_path, class: 'nav-link' %></li>
            <% end %>
            <li class="nav-item"><%= link_to "Contact", new_contact_path, class: 'nav-link' %></li>
          </ul>
        </div>
        
      </div>

      <div class="flash-messages">
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "alert alert-#{key}" %>
        <% end %>
      </div>
    </nav>

    <% if current_page?(root_path) && !current_user %>
      <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
          <div class="d-flex h-100 text-center d-flex flex-column justify-content-center align-items-center">
            <div class="w-100 text-white">
              <h1 class="display-3">Welcome to Dev Match</h1>
              <h3 class="lead mb-0">A membership site where entrepreneurs can meet developers.</h3>
            </div>
            <%= link_to "Explore Community", users_path, class: 'lead mb-0 banner-button' %>
          </div>
        </div>
      </header>
    <% end %>
    <div class="container" style="min-height: calc(100vh - 59px)">
      <%= yield %>
    </div>
    <div class="footer">
                <div class="footer-child social-links">
                    <a class="social-pack" href="https://www.instagram.com/for.luhh/">
                        <i class="fab fa-instagram social-link"></i>
                        <i class="fab fa-instagram social-link social-link-bottom"></i>
                    </a>
                    <a class="social-pack" href="https://twitter.com/for_luhh">
                        <i class="fab fa-twitter social-link"></i>
                        <i class="fab fa-twitter social-link social-link-bottom"></i>
                    </a>
                    <a class="social-pack" href="https://ng.linkedin.com/in/beulah-akindele-8093b9193">
                        <i class="fab fa-linkedin social-link"></i>
                        <i class="fab fa-linkedin social-link social-link-bottom"></i>
                    </a>
                    <a class="social-pack"
                        href="https://wa.me/+234901427926?text=I%20just%20saw%20your%20site%20and%20I%20am%20interested.">
                        <i class="fab fa-whatsapp social-link"></i>
                        <i class="fab fa-whatsapp social-link social-link-bottom"></i>
                    </a>
                </div>

                <div class="copyright footer-child">Beulah Oluwafemi Akindele <span class="orange">&copy;2020</span>
                </div>
            </div>
  </body>
</html>
