<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beulah ROR Portfolio Entry 1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application_coffee' %>
    <%= javascript_include_tag 'https://js.stripe.com/v2/', type: 'text/javascript' %>
    <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <script data-ad-client="ca-pub-5604305097706074" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark d-flex flex-column">
      <div class="container d-flex flex-row justify-content-between align-items-center">
        <%= link_to root_path, class: 'navbar-brand' do %>
          <i class="fab fa-dev"></i>
          Dev Match
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style='flex-grow: 0' id="navbarSupportedContent">
          <ul class="navbar-nav  d-flex flex-row align-items-center">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to "Community", users_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to "#", class: 'btn btn-outline-success' do %>
                  Upgrade
                <% end%>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag current_user.profile.avatar.url(:small), style: 'width: 40px; border-radius: 50%' %>
                </a>
                <div class="flex-column card-body dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <div class="dropdown-item">
                    <%= image_tag current_user.profile.avatar.url(:small), style: 'width: 70px; border-radius: 50%' %>
                    <%= link_to user_path(current_user) do %>
                      <span><%= current_user.profile.last_name.upcase %>, </span>
                      <span><%= current_user.profile.first_name.capitalize %></span>
                      <span><%= current_user.profile.middle_name.capitalize %></span>
                    <% end%>
                    <div>
                      <%= link_to "#", class: 'btn btn-outline-dark', style: 'margin-top: 12px' do %>
                        Upgrade
                      <% end%>
                    </div>
                  </div>
                  <div class="dropdown-divider"></div>
                  <% if current_user.profile %>
                    <%= link_to "Edit Profile", edit_user_profile_path(user_id: current_user.id), class: 'dropdown-item' %>
                    <%= link_to "Account Settings", edit_user_registration_path, class: 'dropdown-item' %>
                  <% else %>
                    <%= link_to "Create Profile", new_user_profile_path(current_user), class: 'dropdown-item' %>
                  <% end %>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              </li>
            <% else %>
              <li class="nav-item"><%= link_to "About", about_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to "Contact", new_contact_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to "Login", new_user_session_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to "Get Started", plans_path, class: 'nav-link btn btn-success' %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="flash-messages">
        <% flash.each do |key, value| %>
          <%= content_tag :div, value, class: "alert alert-#{key}" %>
        <% end %>
      </div>
    </nav>
    <% if current_page?(root_path) && !user_signed_in? %>
      <header>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
          <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="container h-100">
          <div class="d-flex h-100 text-center d-flex flex-column justify-content-center align-items-center">
            <div class="w-100 text-white">
              <h1 class="display-3">Welcome to Dev Match</h1>
              <h3 class="lead mb-0">A membership site where entrepreneurs can meet developers.</h3>
            </div>
            <%= link_to "Get Started", users_path, class: 'lead mb-0 banner-button' %>
          </div>
        </div>
      </header>
    <% end %>
    <div id="modal-holder"></div>
    <div>
      <%= yield %>
    </div>
    <% if current_user %>
      <%#= link_to 'add', new_user_post_path(user_id: current_user.id), data: { modal: true }, 'data-toggle' => 'modal', class: 'floating-button btn bg-dark text-light' %>
      <%= link_to new_user_post_path(user_id: current_user.id), data: { modal: true }, 'data-toggle' => 'modal', class: 'floating-button btn bg-dark text-light' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    <% end %>
    <% if !(user_signed_in? && current_page?(root_path)) %>
      <div class="footer">
        <div class="footer-child social-links">
          <a class="social-pack" href="https://www.instagram.com/for.luhh/">
            <i class="fab fa-instagram social-link"></i>
            <i class="fab fa-instagram social-link social-link-bottom"></i>
          </a>
          <a class="social-pack" href="https://twitter.com/for_luhh">
            <i class="fab fa-twitter social-link"></i>
            <i class="fab fa-twitter social-link social-link-bottom"></i>
          </a>
          <a class="social-pack" href="https://ng.linkedin.com/in/beulah-akindele-8093b9193">
            <i class="fab fa-linkedin social-link"></i>
            <i class="fab fa-linkedin social-link social-link-bottom"></i>
          </a>
          <a class="social-pack"
                        href="https://wa.me/+234901427926?text=I%20just%20saw%20your%20site%20and%20I%20am%20interested.">
            <i class="fab fa-whatsapp social-link"></i>
            <i class="fab fa-whatsapp social-link social-link-bottom"></i>
          </a>
        </div>
        <div class="copyright footer-child">Beulah Oluwafemi Akindele <span class="orange">&copy;2020</span>
        </div>
      </div>
    <% end %>
  </body>
</html>
