<!DOCTYPE html>
<html lang="en">
<head>
  <title>Beulah ROR Portfolio Entry 1</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= # noinspection RailsParamDefResolve
      stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= stylesheet_pack_tag 'javascript/stylesheets/application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= # noinspection RailsParamDefResolve
      javascript_include_tag 'https://js.stripe.com/v2/', type: 'text/javascript' %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY%>
  <style>
  </style>
</head>

<body>
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container" style="flex-wrap: nowrap">

    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: 'navbar-brand', style: "font-size: 2.5rem;" do %>
        <i class="fab fa-dev"></i>
        Dev Match
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= # noinspection RubyResolve
                link_to "About", about_path, style: "font-size: 2rem;" , class: 'navbar-btn' %></li>
        <% # noinspection RubyResolve
           if current_user %>
          <li><%= # noinspection RubyResolve
                  link_to "Sign Out", destroy_user_session_path, method: :delete, style: "font-size: 2rem;" , class: 'navbar-btn' %></li>
      <% else %>
          <li><%= # noinspection RubyResolve
                  link_to "Sign In", new_user_session_path, style: "font-size: 2rem;" , class: 'navbar-btn' %></li>
        <% end %>
        <li><%= # noinspection RubyResolve
                link_to "Contact Us", new_contact_path, style: "font-size: 2rem;" , class: 'navbar-btn' %></li>
      </ul>
    </div> <!--      /.navbar-collapse-->
  </div>
</nav>

<div class="container">
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
